@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* ===all dit is pagina 1=== */
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font font-size: 2em;
    font color: white;
    
}

.home {
    height: 70vh;
    background: #d20000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background: #d20000;
}

header > h1 {
    margin-top: 5rem;
    padding: 0.5 rem 1rem;
    color: white;
    font-size: 50px;
    font-size-adjust: auto;
}

header > h2 {
    margin-top: 5rem;
    padding: 0.5 rem 1rem;
    color: black;
}

.body_1 {
    background-color: #d20000;
}

navi > a {
    color: white;
    text-decoration: none;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-clip: padding-box;
    background-color: #d20000;
}

.button_home {
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    display: inline-block;
    cursor: pointer;
    color: #d20000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 2px black;

}

.button_home:hover {
    background-color: bisque;
}

.button_home:active {
    position: relative;
    top: 1px;
}

}

.button_home:hover {
    background-color: black;

}

.button_home:active {
    position: relative;
    top: 1px;
}

header > .home_home {
    height: 9vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}


/* ===nav pagina home=== */
#menu-bars nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, #d20000 0%, #d20000 50%, #d20000 100%);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .375);
}

#menu-bars ul {
    margin: 0;
    padding: 0;
    display: flex;
}


#menu-bars li:not(:first-child) {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 40%;
    border-top: solid 1px rgba(0, 0, 0, .25);
    border-left: solid 1px rgba(0, 0, 0, .25);
}

#menu-bars li:not(:last-child) {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 40%;
    border-top: solid 1px rgba(0, 0, 0, .25);
    border-right: solid 1px rgba(255, 255, 255, .25);
}

#menu-bars a {
    display: block;
    text-align: center;
    font-size: .7em;
    padding: 2.5rem 0 .3em;
    background-repeat: no-repeat;
    background-size: 4em;
    color: white;
    height: 9vh;
}

#menu-bars li:nth-of-type(1) a {
    background-image: url(../assets/return.svg);
    background-position: center 1em;
}

#menu-bars li:nth-of-type(2) a {
    background-image: url(../assets/home.png);
    background-position: center 2.5em;

}

#menu-bars li:nth-of-type(3) a {
    background-image: url(../assets/favo.png);
    background-position: center 0.8em;
}

/*nav === supermarkets */
#menu-bar nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, #d20000 0%, #d20000 50%, #d20000 100%);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .375);
}

#menu-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
}


#menu-bar li:not(:first-child) {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 40%;
    border-top: solid 1px rgba(0, 0, 0, .25);
    border-left: solid 1px rgba(0, 0, 0, .25);
}

#menu-bar li:not(:last-child) {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 40%;
    border-top: solid 1px rgba(0, 0, 0, .25);
    border-right: solid 1px rgba(255, 255, 255, .25);
}

#menu-bar a {
    display: block;
    text-align: center;
    font-size: .7em;
    padding: 2.5rem 0 .3em;
    background-repeat: no-repeat;
    background-size: 4em;
    color: white;
    height: 9vh;
}

#menu-bar li:nth-of-type(1) a {
    background-image: url(../assets/return.svg);
    background-position: center 1em;
}

#menu-bar li:nth-of-type(2) a {
    background-image: url(../supermarkets_page/assets/supermarkets.png);
    background-position: center 3em;
    background-size: 9em;

}

#menu-bar li:nth-of-type(3) a {
    background-image: url(../assets/favo.png);
    background-position: center 0.8em;
}

}

/*home_colum_1*/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 22px;


}

.container p{
    padding-top: 50px;
}
]

.row {
    width: 100%;
    display: inline-block;
    max-height: 21vh;
    align-items: center;
    text-align: center;

}

.col {
    box-sizing: border-box;
    display: inline-block;
    width: 36%;
    height: 21vh;
    padding-top: 15px;
    border: 0px solid black;
    background-image: url(../assets/home_assets/shopping_image.png);
    background-size: cover;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.col_2 {
    box-sizing: border-box;
    display: inline-block;
    width: 63%;
    height: 21vh;
    background-image: url(../assets/home_assets/shopping_bg.png);
    background-position: center;
    text-align: center;
    font-family: 'Source Sans Pro ', sans-serif;
    font-weight: 500;
    font-variant-caps: small-caps;
    font-size: 25px;
    margin-bottom: 40px;

}
/* idk hoe ik de tweede aangeef */
.col_2 (2) {
    background-image: url(../assets/home_assets/offline_map.png);
}

/*===button_read_more_===*/
button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-size: 19px;
    background: #d20000;
    color: white;
    font-variant-caps: small-caps;
    text-decoration: none;
    text-shadow: 0px 1px 2px black;
    border-radius: 5px;
}
.super_body{
    background-color: #ecebeb;
    padding: 0;
    margin: 0px;
    margin-top: 5px;
    color: #d20000;
    font-variant-caps: all-small-caps;
}
p{
    font-family: 'avenir' , sans-serif;
    color: black;
    font-variant-caps: normal;
}

#more{
    display: none;
    
}
/*====supermarkets main===== */
.supermarkets_page{
    background-color: #ecebeb;
    padding: 0;
    margin: 25px;
    margin-top: 5px;
    color: #d20000;
    font-variant-caps: all-small-caps;
}
/*=====main_supermarkets=====*/
.containers {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 22px;
}


footer{
   margin: none; 
}
.coll {
    box-sizing: border-box;
    display: inline-block;
    width: 36%;
    height: 21vh;
    padding-top: 15px;
    border: 0px solid black;
    background-image: url(../supermarkets_page/assets/albert_heijn_logo.png);
    background-size: cover;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.coll_2 {
    box-sizing: border-box;
    display: inline-block;
    width: 63%;
    height: 21vh;
    background-image: url(../supermarkets_page/assets/albert_heijn_bg.png);
    background-position: center;
    text-align: center;
    font-family: 'Source Sans Pro ', sans-serif;
    font-weight: 500;
    font-variant-caps: small-caps;
    font-size: 25px;
    margin-bottom: 40px;
}


.col_aldi {
    box-sizing: border-box;
    display: inline-block;
    width: 36%;
    height: 21vh;
    padding-top: 15px;
    border: 0px solid black;
    background-image: url(../supermarkets_page/assets/aldi_logo.png);
    background-size: cover;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.coll_aldi{
   box-sizing: border-box;
    display: inline-block;
    width: 63%;
    height: 21vh;
    background-image: url(../supermarkets_page/assets/aldi_bg.png);
    background-position: center;
    text-align: center;
    font-family: 'Source Sans Pro ', sans-serif;
    font-weight: 500;
    font-variant-caps: small-caps;
    font-size: 25px;
    margin-bottom: 40px;
}  

footer{
    padding-top: 10px;
    width: 100%;
    
}